.tip {
  font-size: 1em
}

.popover-title {
  background: #4c4c4c;
  color: white;
  padding: 10px 0;
  text-align: center
}

.calendar a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white
}

.calendar-table thead td.title {
  font-size: 0.9em
}

.calendar-table thead tr.subheading {
  font-size: 0.8em;
  font-weight: strong
}

.calendar-table thead td.prev a:hover,
.calendar-table thead td.next a:hover,
.calendar-table tbody td a:hover,
.calendar-table tbody td a.prev-day:hover,
.calendar-table tbody td a.next-day:hover {
  border: 1px solid #6DCC00
}

.calendar a:active {
  opacity: .75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75)
}

.calendar-table {
  background: #4c4c4c;
  float: left;
  margin: 0;
  font-size: 1em;
  border-bottom: 1px solid #656565;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-box-shadow: 0 1px 2px #7f7f7f;
  -ms-box-shadow: 0 1px 2px #7f7f7f;
  -moz-box-shadow: 0 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f
}

.calendar-table thead td,
.calendar-table thead th {
  color: white
}

.calendar-table tbody td {
  background: -webkit-linear-gradient(#3f3f3f, #1a1a1a);
  background: -moz-linear-gradient(#3f3f3f, #1a1a1a);
  background: -ms-linear-gradient(#3f3f3f, #1a1a1a);
  background: -o-linear-gradient(#3f3f3f, #1a1a1a);
  padding: 0
}

.calendar-table thead td a,
.calendar-table tbody td a {
  color: white;
  border: 1px solid #4c4c4c
}

.calendar-table tbody td a.prev-day,
.calendar-table tbody td a.next-day {
  background: -webkit-linear-gradient(#666666, #3f3f3f);
  background: -moz-linear-gradient(#666666, #3f3f3f);
  background: -ms-linear-gradient(#666666, #3f3f3f);
  background: -o-linear-gradient(#666666, #3f3f3f);
  color: #bfbfbf
}

.calendar-table tbody td a {
  color: white
}

.calendar-table tbody td.selected {
  background: none
}

.calendar-table .selected a {
  background: -webkit-linear-gradient(#6DCC00, #333333);
  background: -moz-linear-gradient(#6DCC00, #333333);
  background: -ms-linear-gradient(#6DCC00, #333333);
  background: -o-linear-gradient(#6DCC00, #333333);
  border: 1px solid #6DCC00;
  -o-box-shadow: inset 0 1px #4C8F00;
  -ms-box-shadow: inset 0 1px #4C8F00;
  -moz-box-shadow: inset 0 1px #4C8F00;
  -webkit-box-shadow: inset 0 1px #4C8F00;
  box-shadow: inset 0 1px #4C8F00
}